#Ignore the dataset
#IMPORTANT: make sure that your dataset is stored in a folder with the same as the one specified below

PB2_output_test
PB1_output_test
*png
*jpg
*.pyc
*.pyo
*.bin
logdir
output/*
hw2_data/*
P1_ckpt
output_folder_example
PB1_output
P1_tb
**__pycache__
**ckpt